{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}

    <section class="product">
        <div class="product-img">
            <img src="{{ asset('images/Product/Deodorant.png') }}" />
        </div>
        
        <div class="product-text">
            <h1>{{ product.name }}</h1>
            <p id="product-price">{{ product.price }}€</p>
            <p id="product-description">Description</p>
            <p id="product-longDescription">{{ product.longDescription }}</p>
            
            {% if app.user %}
                {{ form_errors(form) }}

                {{ form_start(form, {'attr': {'class': 'product-form'}}) }}

                {{ form_row(form.quantity) }}
                
                <button type="submit">Ajouter au panier</button>
                {{ form_end(form) }}
            {% endif %}
        </div>
    </section>

{% endblock %}
