<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/app.scss') }}">
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <header>
            <div class="header-greenGoodies">
                <a href="{{ path('app_main') }}">
                    <p id="header-greenGoodies-logo">G</p>
                    <p>Green Goodies</p>
                </a>
            </div>
            <div class="header-link">
                {% if app.user %}
                    <a href="#">Nos produits</a>
                    <a href="{{ path('app_order_panier') }}">Mon Panier</a>
                    <a href="#">Mon Compte</a>
                    <a href="{{ path('app_logout') }}">Déconnexion</a>
                {% else %}
                    <a href="{{ path('app_login') }}">Connexion</a>
                {% endif %}
            <div>
        </header>

        {% block body %}{% endblock %}

        <footer>
            <p>© GreenGoodies - 2025</p>
        </footer>
    </body>
</html>
